PORT=8000
JWT_SECRET=sampleSecret
NODE_ENV=production
MONGO_URI=mongodb://testUser:SfyeUYQMraqucBJZ@ac-2gn6o7g-shard-00-00.4rjsugk.mongodb.net:27017,ac-2gn6o7g-shard-00-01.4rjsugk.mongodb.net:27017,ac-2gn6o7g-shard-00-02.4rjsugk.mongodb.net:27017/?ssl=true&replicaSet=atlas-tr3bvs-shard-0&authSource=admin&appName=RotomPC